:root {
 --el-orange: #ffb300;
 --el-black: #1c1c1c;
 --el-white: #fefefe;
 --el-gray: #2b2b2b;
 --el-midgray: #333333;
 --el-lightgray: #929292;
}


*, body.h-100 {
 background-color: var(--el-black);
 color: var(--el-white);
}

.btn {
 border: none;
}

.btn-primary {
 border: none;
 background-color: var(--el-orange);
}

.btn-secondary {
 border: none;
 background-color: var(--el-white);
 color: var(--el-gray);
}

footer {
  margin: 0 auto;
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 12px;
}

.delete {
  fill: #dc3545;
}

.edit {
  fill: green;
}

.handle {
  cursor: grab;
}

.configuration-delete, .network {
  cursor: pointer;
}

.access-points-container {
  margin-bottom: 220px;
  clear: both;
}

#configuration_status_container .row {
 padding: 0.75rem;
 border-radius: 0.5em;
 border: 1px solid var(--el-midgray);
 font-weight: bold;
 margin: 2em 15px;
}
#configuration_status_container div {
 background-color: var(--el-gray);
}
#configuration_status_container .row {
 margin-left: 0px;
 margin-right: 0px;
}
#configuration_status_container .row :first-child {
 border-right: 1px solid var(--el-midgray);
}


#configuration_status_value {
 color: var(--el-lightgray);
}


#aps_container {
 margin-top: 1em;
}

#aps_table {
 background-color: var(--el-gray);
 padding: 0.5em;
 border-radius: 0.5em;
 margin-top: 0.25em;
 border: 1px solid var(--el-midgray);
}

#aps_table table {
 margin-bottom: 0px;
}

#logo_container img {
 display:block;
 margin: 0 auto;
}

img#logo { display:block; margin: 0 auto; }

#aps_table td {
 background-color: var(--el-gray);
 border-top: none;
 border-left: none;
 border-right: none;
 border-bottom: 2px solid var(--el-midgray);
}

#aps_table tr:last-child td {
 border-bottom: none;
}

#aps_table svg {
 background-color: var(--el-gray);
}
#aps_table span.handle {
 background-color: var(--el-gray);
}
button#back_button {
 color: var(--el-white);
 background-color: var(--el-gray);
 margin-top: 1em; }
#password {
 color: var(--el-white);
 background-color: var(--el-gray); }
